<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container well">
      <h1>Please enter the weight and dimensions of your parcel</h1>
      <form action='/Results'><!-- this will be the form for entry-->
        <div class='form-group'>
          <label for='weight'>Package Weight</label>
          <input id='weight' name='weight' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='width'>Package Width</label>
          <input id='width' name='width' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='length'>Package Length</label>
          <input id='length' name='length' class='form-control' type='text'>
        </div>

        <div class='form-group'>
          <label for='height'>Package Width</label>
          <input id='height' name='height' class='form-control' type='text'>
        </div>
        <button type='submit' class='btn'>Go!</button>
      </form>
    </div>
  </body>
</html>
